@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inconsolata&family=Maven+Pro&family=Russo+One&display=swap');
/* 
font-family: 'Inconsolata', monospace;
font-family: 'Maven Pro', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Russo One', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    color: #16161a;
    font-weight: normal;
}
main{
    padding: 20px 40px;
}
.perfil .header{
    padding: 13px 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.perfil .header h1{
    font-weight: normal;
    font-size: 26px;
    font-family: 'Russo One', sans-serif;
}
.perfil .header h4{
    font-weight: bold;
}
.perfil .header .boton{
    text-decoration: none;
    background-color: #dba240;
    padding: 12px;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.parte1{
    display: flex;
    gap: 30px;
    width: 100%;
}
.parte1 .foto{
    width: 300px;
    height: 440px;
    border-radius: 15px;
}
.parte1 .foto img{
    width: 300px;
    height: 440px;
    object-fit: cover;
    border-radius: 30px;
}
.parte1 .info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    background: #f3e4ca;
    border-radius: 15px;
}
.parte1 .info .nombre{
    line-height: 20px;
}
.parte1 .info .nombre h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.parte1 .info .nombre h4{
    font-size: 20px;
    text-transform: uppercase;
}
.parte1 .info .datos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.parte1 .info .dato h3{
    font-size: 16px;
    font-weight: bold;
}
.parte1 .info .dato h4{
    font-size: 18px;
}
.parte1 .nacimiento .card{
    background: white;
    box-shadow: 0px 0px 10px #dba240;
    width: 130px;
    height: 130px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parte1 .nacimiento .card h3{
    font-size: 3.5rem;
    font-weight: bold;
}
.parte1 .nacimiento .card h4{
    font-size: 16px;
}