@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inconsolata&family=Maven+Pro&family=Russo+One&display=swap');
/* 
font-family: 'Inconsolata', monospace;
font-family: 'Maven Pro', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Russo One', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    color: #16161a;
    font-weight: normal;
}
main{
    padding: 20px 40px;
}
.perfil .header{
    padding: 13px 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.perfil .header .titulos-emp{
    display: flex;
    gap: 20px;
    align-items: center;
}
.perfil .header .titulos-emp .volver span{
    color: #dba240;
    transition: 0.3s ease;
}
.perfil .header .titulos-emp .volver span:hover{
    color: #d3a961;
}
.perfil .header h1{
    font-weight: normal;
    font-size: 26px;
    font-family: 'Russo One', sans-serif;
}
.perfil .header h4{
    font-weight: bold;
}
.perfil .header .boton-edit{
    text-decoration: none;
    background-color: #dba240;
    padding: 12px;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.perfil .header .boton-edit:hover{
    color: black;
    background: #d3a961;
}
.parte1{
    display: flex;
    gap: 30px;
    width: 100%;
}
.parte1 .foto{
    width: 300px;
    height: 440px;
    border-radius: 15px;
}
.parte1 .foto img{
    width: 300px;
    height: 440px;
    object-fit: cover;
    border-radius: 30px;
}
.parte1 .info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    background: #f3e4ca;
    border-radius: 15px;
    min-width: 300px;
}
.parte1 .info .nombre{
    line-height: 20px;
}
.parte1 .info .nombre h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.parte1 .info .nombre h4{
    font-size: 20px;
    text-transform: uppercase;
}
.parte1 .info .datos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.parte1 .info .dato h3{
    font-size: 16px;
    font-weight: bold;
}
.parte1 .info .dato h4{
    font-size: 18px;
}
.parte1 .nacimiento .card{
    background: white;
    box-shadow: 0px 0px 10px #dba240;
    width: 130px;
    height: 130px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parte1 .nacimiento .card h3{
    font-size: 3.5rem;
    font-weight: bold;
}
.parte1 .nacimiento .card h4{
    font-size: 16px;
}
.parte1 .info-profesional{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.parte1 .info-profesional .perfil-pro{
    background: #d3a961;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
    max-height: 280px;
    overflow-y: auto;
    min-width: 560px;
}
.parte1 .info-profesional .perfil-pro h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.parte1 .info-profesional .archivos{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    line-height: 15px;
    text-align: center;
}
.parte1 .info-profesional .archivo{
    background: white;
    box-shadow: 0px 0px 10px #dba240;
    width: 170px;
    height: 130px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.parte1 .info-profesional .archivo h2{
    font-size: 15px;
}
.parte1 .info-profesional .archivo h3{
    font-size: 20px;
    font-weight: bold;
}
.parte1 .info-profesional .archivo:hover{
    background: #dba240;
}
.parte1 .info-empresa{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}
.parte1 .info-empresa .cargo{
    background: white;
    box-shadow: 0px 0px 10px #dba240;
    display: flex;
    padding: 20px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 200px;
    text-transform: uppercase;
}
.parte1 .info-empresa .h3{
    font-size: 22px;
}
.parte1 .info-empresa .cargo span{
    font-size: 32px;
    color: #d3a961;
}
.parte1 .info-empresa .salario{
    background: white;
    box-shadow: 0px 0px 10px #dba240;
    padding: 20px;
    gap: 15px;
    align-items: center;
    width: 200px;
    border-radius: 15px;
}
.parte1 .info-empresa .salario h2{
    text-transform: uppercase;
    font-size: 18px;
    color: #d3a961;
    font-weight: bold;
}
.parte1 .info-empresa .salario h3{
    text-align: right;
    font-size: 20px;
}
.parte1 .info-empresa .fecha-ing{
    background: #f3e4ca;
    height: 130px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    width: 350px;
}
.parte1 .info-empresa .fecha-ing h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.parte1 .info-empresa .fecha-ing h3{
    font-size: 26px;
}
.parte1 .info-empresa .estado{
    background: #d3a961;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in;
    width: 350px;
    line-height: 20px;
}
.parte1 .info-empresa .estado .texto-estado{
    text-align: right;
}
.parte1 .info-empresa .estado .texto-estado h2{
    font-size: 18px;
    text-transform: uppercase;
}
.parte1 .info-empresa .estado .texto-estado h3{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
.parte1 .info-empresa .estado .icon-estado span{
    font-size: 30px;
}


/* Modal Nuevo Empleado */
.info-edit-emp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.info-personal, .info-empresarial {
    padding: 20px;
}

.info-personal h3, .info-empresarial h3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #dba240;
    width: fit-content;
}
.grupo_campos {
    display: flex;
    gap: 20px;
    width: 100%;
}

.campo {
    text-align: left;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-weight: bold;
}

.campo input {
    background: none;
    padding: 0px 10px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.26);
    font-size: 16px;
}

.campo input:focus, textarea:focus {
    transition: all 0.3s ease;
    border: 1px solid #d3a961;
}
textarea{
    resize: none;
    outline: none;
    padding: 10px;
    height: 128px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    font-size: 16px;
}
.botones{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}

.boton {
    width: 30%;
    border: none;
    background: #dba240;
    padding: 15px 35px;
    color: #16161a;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.boton.cancel{
    background: white;
    border: 1px solid #dba240;
}

.boton:hover {
    background: #d3a961;
}
/*Prime Faces - Nuevo*/
body .ui-commandlink, body .ui-link{
    color: black;
}

.edit-employee ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    text-align: left;
    border-radius: 5px;
}

body .edit-employee .ui-inputfield.ui-state-focus{
    border-color: #dba240;
    box-shadow: none;
}

body .edit-employee .ui-inputfield.ui-state-hover{
    border-color: #dba240;
}

.edit-employee thead{
    border: none;
}

body .ui-widget-overlay{
    background: #ffffffc5;
}
/*PrimeFaces Button*/
button.ui-button {
    border: none;
    background: #dba240;
    padding: 15px 35px;
    color: #16161a;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}
body .ui-button.ui-button-text-only .ui-button-text{
    padding: 0px;
}
.ui-button-text-only .ui-button-text {
    padding: 0px;
    font-weight: bold;
}
body .ui-button.ui-state-hover{
    background: #d3a961;
    border-color: #d3a961;
    color: black;
}
body .ui-button.ui-state-focus{
    border-color: #dba240;
    box-shadow: none;
}
body .ui-button.ui-state-active{
    background:#d3a961;
}

/*Primefaces Boton Edit*/
body .ui-commandlink, body .ui-link{
    color: black;
}



::-webkit-scrollbar{
    width: 0px;
}